<div class="container">
  <h1 class="mt-5">
    Linkedin API wrapper for Angular
  </h1>
  <div class="row mt-5">
    <div class="col">
      <button id="loginBtn" class="btn btn-primary" [hidden]="isUserAuthenticated | async" (click)="login()">Login with LinkedIN</button>
      <button id="logoutBtn" class="btn btn-primary" [hidden]="!(isUserAuthenticated | async)" (click)="logout()">Logout from LinkedIN</button>
      <button class="btn btn-primary" [hidden]="!(isUserAuthenticated | async)" (click)="rawApiCall()">Get data</button>
      <button class="btn btn-primary" [hidden]="!(isUserAuthenticated | async)" (click)="refresh()">Refresh</button>
      <button class="btn btn-primary" (click)="getApiKeyFromSdkIN()">Get API key from SDK</button>
      <button class="btn btn-primary" (click)="getAnonymousTokenFromSdkIN()">Get Anonymous Token from SDK</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>API Key</h2>
      <div>
        {{(isInitialized | async) === undefined ? 'undefined' : apiKey }}
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Anonymous Token</h2>
      <div>
        {{(isInitialized | async) === undefined ? 'undefined' : anonymousToken }}
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Observables</h2>
      <ul class="list-group">
        <li class="list-group-item flex-column align-items-stretch">
          <div class="row">
            <div class="col">
              isInitialzed$:
            </div>
            <div class="col">
              {{(isInitialized | async) === undefined ? 'undefined' : '' }} {{isInitialized | async | json}}
            </div>
            <div class="col">
              <span name="isInitializedEmittedValue" *ngIf="isInitializedEmittedValue" class="badge badge-success float-right">Emitted Value</span>
            </div>
          </div>
        </li>
        <li class="list-group-item flex-column align-items-stretch">
          <div class="row">
            <div class="col">
              isUserAuthenticated$:
            </div>
            <div class="col">
              {{(isUserAuthenticated | async) === undefined ? 'undefined' : '' }} {{isUserAuthenticated | async | json}}
            </div>
            <div class="col">
              <span *ngIf="isUserAuthenticatedEmittedValue" class="badge badge-success float-right">Emitted Value</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Last API (raw) response</h2>
      <prettyjson [obj]="lastResponse"></prettyjson>
    </div>
  </div>
</div>